.main_content {
    width: 100%;
    margin-left: 200px;
}

.main_content .header {
    padding: 20px;
    background: #fff;
    color: red;
}

.main_content .info {
    margin: 20px;
    color: black;
    line-height: 25px;
}

.main_content .info h1{
    text-align: center;
    color: black;
    line-height: 25px;
}

.nota {
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.2);
    padding: 20px;
    border-radius: 20px;
    width: 60%;
}

.nota .nota-body .nota-title {
    font-size: 20px;
    margin-bottom: 5px;
}

.nota .nota-body .nota-text {
    font-size: 15px;
    margin-bottom: 10px;
}

table,
td,
th {
    border: 1px solid;
    border-collapse: collapse;
    text-align: center;
}

table {
    width: 100%;
    align-content: center;
    margin-top: -10px;
    margin-right: 190px;
    background-color: #fff;
}

td,
th {
    height: 60px;
}

select {
    font-size: 15px;
    padding: 5px 7px;
}


/*.main_content a {
  float: right;
  margin-top: -400px;
  margin-right: 965px;
}*/